<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content">
      <div class="col-md-6 col-md-offset-4">
        <div class="row">
          <h3 class="h3-heading col-md-offset-1">
            Set your location.
          </h3>
        </div>
        <div class="row">
          <p class="subtitle">
            We need your location to setup your location.
          </p>
        </div>
        <div class="row">
            <input type="text" class="verification-input col-md-5 col-md-offset-1" placeholder=""/>
        </div>
        <div class="row">
          <p class="col-md-offset-1 zip-label">Zip Code</p>
        </div>
        <div class="row tallo-btn-wrapper">
          <button class="tallo-btn danger col-md-offset-1 col-md-5">Finish</button>
        </div>
      </div>
    </div>
  </div>
</div>
