<div class="col-md-12">
  <div class="row header">
    <div class="col-md-4">
      <img src="assets/images/icon.png" alt="icon" class="col-md-2 icon">
      <h3 class="h3-heading">
        Boise
      </h3>
    </div>
    <div class="col-md-4 align-center-class">
      <ul type="none" class="p0 header-nav">
        <li class="h3-heading">Today</li>
        <li class="h3-heading">Events</li>
        <li class="h3-heading">People</li>
        <li class="h3-heading">Messages</li>
      </ul>
    </div>
    <div class="col-md-2 col-md-offset-2 nav-profile-wrapper">
      <div>
        <h3 class="h3-heading">
          Alexis
        </h3>
      </div>
      <div>
        <img src="assets/images/1.jpg" height="50" width="50" class="proile-circle-image" />
      </div>
    </div>
  </div>
</div>
