<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content">
      <div class="col-md-6 col-md-offset-4">
        <div class="row">
          <h3 class="h3-heading">
            What is your mobile number?
          </h3>
        </div>
        <div class="row">
          <p class="subtitle">
            We'll text you a special code to you mobile number.
          </p>
        </div>
        <div class="row tallo-btn-wrapper">
          <button class="tallo-btn danger col-md-offset-1 col-md-5">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
