<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content">
      <div class="col-md-6">
        <div class="row row center-wrapper">
          <h3 class="h3-heading row center-wrapper-child">
            What is your mobile number?
          </h3>
        </div>
        <div class="row center-wrapper">
          <p class="subtitle mb-top-10 row center-wrapper-child">
            We'll text you a special code to you mobile number.
          </p>
        </div>
        <div class="row center-wrapper">
          <div class="center-wrapper-child tel-number-wrapper">
            <div class="center-wrapper"><span class="center-wrapper-child tel-span">(</span><input maxlength="3" minlength="3"
                type="text" class="center-wrapper-child verification-input tel-number" placeholder="" /><span class="tel-span">)</span></div>&nbsp;
            <div class="center-wrapper"><input type="text" maxlength="3" minlength="3" class="center-wrapper-child verification-input tel-number"
                placeholder="" /></div>&nbsp;&nbsp;
            <div class="center-wrapper"><input type="text" maxlength="3" minlength="3" class="center-wrapper-child verification-input tel-number"
                placeholder="" /></div>
          </div>
        </div>
        <div class="row row center-wrapper tallo-btn-wrapper">
            <button class="tallo-btn danger row center-wrapper-child col-md-5">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
