.login-content{
    margin-top: 30vh;
}
.tallo-btn-wrapper{
    margin-top: 30px;
}
.row > .h3-heading {
    text-align: center;
}
.verification-input{
    border-top: 0;
    border-right: 0;
    border-left : 0;
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size : 12px;
    color: #555;
}

.verification-input:focus{
    border-top: 0;
    border-right: 0;
    border-left : 0;
    padding: 10px 10px 0px 10px;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size : 12px;
    color: #555;
}