<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content">
      <div class="col-md-6 col-md-offset-4">
        <div class="row">
          <h3 class="h3-heading">
            Now let's add a photo and finish up.
          </h3>
        </div>
        <div class="row">
          <p class="subtitle">
            You may add additional info about yourself once you are signed in.
          </p>
        </div>
        <div class="row tallo-btn-wrapper">
          <button class="tallo-btn danger col-md-offset-1 col-md-5">Add a Photo</button>
        </div>
      </div>
    </div>
  </div>
</div>
