<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content center-wrapper">
      <div class="col-md-7 center-wrapper-child">
        <div class="row center-wrapper">
          <h3 class="h4-heading center-wrapper-child">
            Now let's add a photo and finish up.
          </h3>
        </div>
        <div class="row center-wrapper">
          <p class="subtitle center-wrapper-child mb-top-10">
            You may add additional info about yourself once you are signed in.
          </p>
        </div>
        <div class="row tallo-btn-wrapper center-wrapper">
          <button class="tallo-btn danger center-wrapper-child col-md-6">Add a Photo</button>
        </div>
      </div>
    </div>
  </div>
</div>
