<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content center-wrapper">
      <div class="col-md-6 center-wrapper-child">
        <div class="row center-wrapper">
          <h3 class="h3-heading row center-wrapper-child">
            You should have a text message from us.
          </h3>
        </div>
        <div class="row center-wrapper">
          <p class="subtitle center-wrapper-child mb-top-10">
            If you did not receive a text message, please <span style="color : red">go back</span> and try again.
          </p>
        </div>
        <div class="row center-wrapper mb-top-10">
            <input type="text" class="mb-top-10 verification-input col-md-5 center-wrapper-child" placeholder="5165156"/>
          </div>
        <div class="row tallo-btn-wrapper center-wrapper">
          <button class="tallo-btn danger center-wrapper-child col-md-5">Verify My Code</button>
        </div>
      </div>
    </div>
  </div>
</div>