<app-main-header></app-main-header>
<div class="col-md-12">
  <div class="event-container container">
    <div class="event-content col-md-6">
      <div class="row">
        <h3 class="h3-heading">
          Build Business
        </h3>
          <i class="fa fa-2x fa-flag-o"></i>
      </div>
      <p class="row subtitle">
        Peak Networking
      </p>
      <p class="row event-discription">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Morbi ornare odio sed dolor efficitur, consequat iaculis libero bibendum.
        Proin turpis quam, laoreet at eros non, ornare facilisis nisi.
      </p>
      <p class="row event-discription">
        <strong>Tallo @ Wed. Nov 14 @ 4:30 PM</strong>
      </p>
      <p class="row event-attendee">
        <strong>Going</strong>
      </p>
      <img src="assets/images/1.jpg" alt="avatar" class="attendee-avatar">
      <img src="assets/images/1.jpg" alt="avatar" class="attendee-avatar">
      <div class="row tallo-btn-wrapper">
        <button class="tallo-btn danger col-md-6">Ask to Join</button>
      </div>
    </div>
    <div class="row event-add col-md-6">
        <h3 class="h3-heading">Add an event.</h3>
        <i class="fa fa-2x fa-plus"></i>
    </div>
  </div>
</div>
