<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content">
      <div class="col-md-6 col-md-offset-4">
        <div class="row">
          <h3 class="h3-heading col-md-offset-2">
            Looking good!
          </h3>
        </div>
        <div class="row">
          <p class="subtitle">
            You may add additional info about yourself once signed in.
          </p>
        </div>
        <div class="row">
          <img src="assets/images/1.jpg" alt="avatar" class="growth col-md-offset-3 img-fluid profile-verification-image img-thumbnail">
        </div>
        <div class="row tallo-btn-wrapper pic-confirmation-wrapper">
          <div class="col-md-4">
            <button class="tallo-btn danger col-md-12">Change Photo</button>
          </div>
          <div class="col-md-4">
            <button class="tallo-btn danger col-md-12">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
