<app-header></app-header>
<div class="col-md-12">
  <div class="container">
    <div class="row login-content center-wrapper">
      <div class="col-md-6 center-wrapper-child">
        <div class="row center-wrapper">
          <h3 class="h4-heading  center-wrapper-child">
            Looking good!
          </h3>
        </div>
        <div class="row center-wrapper">
          <p class="subtitle center-wrapper-child mb-top-10">
            You may add additional info about yourself once signed in.
          </p>
        </div>
        <div class="row center-wrapper mb-top-10">
          <img src="assets/images/1.jpg" alt="avatar" class="growth mb-top-10 center-wrapper-child col-md-offset-3 img-fluid profile-verification-image img-thumbnail">
        </div>
        <div class="row tallo-btn-wrapper pic-confirmation-wrapper">
          <div class="col-md-6">
            <button class="tallo-btn danger col-md-12">Change Photo</button>
          </div>
          <div class="col-md-6">
            <button class="tallo-btn danger col-md-12">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>