<app-main-header></app-main-header>
<div class="col-md-12 center-wrapper">
    <img src="assets/images/1.jpg" height="100" class="center-wrapper-child" width="100" class="proile-circle-image" />
    <h3 class="h3-heading center-wrapper-child mb-top-15" >Alexis Carver</h3>
    <p class="subtitle center-wrapper-child mb-top-5">Account Executive</p>
    <p class="center-wrapper-child bold-font subtitle mb-top-15">Talloo</p>
    <p class="subtitle  center-wrapper-child mb-top-5">Account Executive</p>
    <p class="subtitle center-wrapper-child mb-top-5">201 N Maple Grove Rd</p>
    <p class="subtitle center-wrapper-child mb-top-5">Boise,ID 83704</p>
    <p class="center-wrapper-child bold-font subtitle mb-top-15">Contact Information</p>
    <p class="subtitle  center-wrapper-child mb-top-5">(208) 555-1212</p>
    <p class="subtitle center-wrapper-child mb-top-5">alexis@talloo.com</p>
    <p class="center-wrapper-child bold-font subtitle mb-top-15">About Me</p>
    <p class="subtitle  center-wrapper-child mb-top-5">I am a Market Leader at Talloo.I help people,</p>
    <p class="subtitle center-wrapper-child mb-top-5">in our partner program, develop their business</p>
  </div>
