<app-main-header></app-main-header>
<div class="col-md-4 col-md-offset-4 p0">
  <div class="row">
    <div class="col-md-12 add-event-card">
      <span class="p20 col-md-11"><strong>Add an Event.</strong></span>
      <i class="fa fa-2x fa-plus col-md-1" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 event-card mb-top-15">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="assets/images/1.jpg" height="50" width="50" class="proile-circle-image" />
          </div>
          <div class="col-md-10 col-md-offset-1">
            <p class="p20 m0">Build Business</p>
            <p class="event-subtitle m0">Peak Networking</p>
            <p class="event-description">George SeyboldDo you work with individuals, families, or within the
              residential real estate and development industry? This circle may be for you. The core team meets weekly
              to develop relationships and unlock opportunities and connections within the community.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-9 col-md-offset-2">
            <p class="event-date">Talloo @Wed,Nov 14 @4:30PM</p>
          </div>
          <div class="col-md-1">
            <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 event-card mb-top-15">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="assets/images/1.jpg" height="50" width="50" class="proile-circle-image" />
          </div>
          <div class="col-md-10 col-md-offset-1">
            <p class="p20 m0">Build Business</p>
            <p class="event-subtitle m0">Peak Networking</p>
            <p class="event-description">George SeyboldDo you work with individuals, families, or within the
              residential real estate and development industry? This circle may be for you. The core team meets weekly
              to develop relationships and unlock opportunities and connections within the community.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-9 col-md-offset-2">
            <p class="event-date">Talloo @Wed,Nov 14 @4:30PM</p>
          </div>
          <div class="col-md-1">
            <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 event-card mb-top-15">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="assets/images/1.jpg" height="50" width="50" class="proile-circle-image" />
          </div>
          <div class="col-md-10 col-md-offset-1">
            <p class="p20 m0">Build Business</p>
            <p class="event-subtitle m0">Peak Networking</p>
            <p class="event-description">George SeyboldDo you work with individuals, families, or within the
              residential real estate and development industry? This circle may be for you. The core team meets weekly
              to develop relationships and unlock opportunities and connections within the community.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-9 col-md-offset-2">
            <p class="event-date">Talloo @Wed,Nov 14 @4:30PM</p>
          </div>
          <div class="col-md-1">
            <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 event-card mb-top-15">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="assets/images/1.jpg" height="50" width="50" class="proile-circle-image" />
          </div>
          <div class="col-md-10 col-md-offset-1">
            <p class="p20 m0">Build Business</p>
            <p class="event-subtitle m0">Peak Networking</p>
            <p class="event-description">George SeyboldDo you work with individuals, families, or within the
              residential real estate and development industry? This circle may be for you. The core team meets weekly
              to develop relationships and unlock opportunities and connections within the community.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-9 col-md-offset-2">
            <p class="event-date">Talloo @Wed,Nov 14 @4:30PM</p>
          </div>
          <div class="col-md-1">
            <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 event-card mb-top-15">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1">
            <img src="assets/images/1.jpg" height="50" width="50" class="proile-circle-image" />
          </div>
          <div class="col-md-10 col-md-offset-1">
            <p class="p20 m0">Build Business</p>
            <p class="event-subtitle m0">Peak Networking</p>
            <p class="event-description">George SeyboldDo you work with individuals, families, or within the
              residential real estate and development industry? This circle may be for you. The core team meets weekly
              to develop relationships and unlock opportunities and connections within the community.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-9 col-md-offset-2">
            <p class="event-date">Talloo @Wed,Nov 14 @4:30PM</p>
          </div>
          <div class="col-md-1">
            <i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
